    <nav>
      <a href="./index.html" class="logo" id="active">
      <% if action_name == "home" %>
        <h4 class="full-text">Mark Cooper</h4>
        <h4 class="full-text">Janssen-Vooles</h4>
        <h4 class="short-text">MCJ-V</h4>
      <% else %>
        <h4 class="logo">MCJ-V</h4>
      <% end%>
      </a>
      <div class="links">
        <a href="./about" class="link">About</a>
        <a href="./skills" class="link">Skills</a>
        <a href="./projects_blog" class="link">Projects</a>
        <a href="./contact" class="link">Contact</a>
      </div>
    </nav>